.image-left-250 {
    width: 250px !important;
    float: left;
    padding: 0 15px 15px 0;
  }

  .image-right-250 {
    width: 250px !important;
    float: right;
    padding: 0  15px 15px;
  }

  .image-center-250 {
    width: 250px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }