body {
    background-image: url("/pixil-frame-0.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: pixelated; /* optional */
}